@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}
<h2>Employeess - Main</h2>
<table class="display" id="tbEmployees">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Prefix</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Suffix</th>
            <th>Employee Id</th>
            <th width="18%">Date of Birth</th>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>Prefix</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Suffix</th>
            <th>Employee Id</th>
            <th>Date of Birth</th>
        </tr>
    </tfoot>
</table>

@section cssSection{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">

    <link rel="stylesheet" type="text/css" href="~/lib/datatables/Editor-1.8.0/css/editor.dataTables.css">


    @*
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.bootstrap4.min.css">
        <link rel="stylesheet" type="text/css" href="~/lib/datatables/Editor-1.8.0/css/editor.bootstrap.min.css">


            <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.dataTables.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">
            *<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/keytable/2.5.0/css/keyTable.dataTables.min.css">
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/autofill/2.3.2/css/autoFill.dataTables.min.css">*
            <link href="~/lib/datatables/Editor-1.8.0/css/editor.dataTables.css" />
            *<style type="text/css" class="init">

                    div.DTE_Inline input {
                        border: none;
                        background-color: transparent;
                        padding: 0 !important;
                        font-size: 90%;
                    }

                        div.DTE_Inline input:focus {
                            outline: none;
                            background-color: transparent;
                        }
                </style>*@
}

@section Scripts {
    @{await Html.RenderPartialAsync("_dtJsPartial.cshtml");}


    @*<script type="text/javascript" language="javascript" class="init"></script>*@

    <script type="text/javascript" language="javascript" src="@Url.Content("~/js/EmployeeIndex.js")"></script>


}



