@page
@{
}
<h2>Create User</h2>
<form action="https://localhost:65201/api/identity/create" method="post" id="userForm">
    <table class="display" id="tbEmployees">
        <tr>
            <td>
                User Name:
            </td>

        </tr>
        <tr>
            <td>
                <input type="text" id="userName" name="userName" />
            </td>
        </tr>
        <tr>
            <td>
                Email:
            </td>
        </tr>
        <tr>
            <td>
                <input type="email" id="email" name="email" />
            </td>
        </tr>
        <tr>
            <td>
                Password:
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" id="password" name="password" />
            </td>
        </tr>
        <tr>
            <td>
                <button type="reset">Reset</button>
                <button type="button" id="test" name="test">test</button>
            </td>
            <td>
                <button type="submit">Create</button>
            </td>
        </tr>
    </table>
    <input type="text" id="jsd" />
</form>

@section Scripts {


<script type="text/javascript" language="javascript">
    $(document).ready(function() {



        $("#test").click(function(){
            var formData = $("#userForm").serialize();
            $("#jsd").val(formData);

            $.post("https://localhost:65201/api/identity/signIn2",
                formData,
                function(data, status){
                alert("Data: " + data + "\nStatus: " + status);
                    });
                });
    });
</script>



}

